<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>378599121255-moaklv4ngshcjtcq30edq0j0nh5o37ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378599121255-moaklv4ngshcjtcq30edq0j0nh5o37ug</string>
	<key>API_KEY</key>
	<string>AIzaSyCa2OvCWC_YC4Hk4UC3lX-E3moQsZ0PkJk</string>
	<key>GCM_SENDER_ID</key>
	<string>378599121255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.jasaweb.jasaerp</string>
	<key>PROJECT_ID</key>
	<string>jasaerp-135dc</string>
	<key>STORAGE_BUCKET</key>
	<string>jasaerp-135dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378599121255:ios:788acf4477466550</string>
	<key>DATABASE_URL</key>
	<string>https://jasaerp-135dc.firebaseio.com</string>
</dict>
</plist>